body{
    background-image: url(https://i.pinimg.com/originals/b0/f2/a1/b0f2a1acf1edba381ca8d578d6a80323.jpg) ;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.header-container{
    padding: 60px;
    text-align: center;
    background-color: darkslategray;
    color: chocolate;
    font: size 33px;;
} 

div{
    color: chocolate;
} 
body{
    color: chartreuse;
}
table, th, td {
    border: 1px solid white;
}
footer{
    padding:8px;
    text-align:right;
    background-color: gold;
    color: black;
    font-size: 15px;
    padding: 10px;
    
}
#google-link:link{
    color: blue;
}
#google-link:visited{
    color: mediumvioletred;
}